.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* styling for component welcomeLogIn.js.   */

.oneADaylink{
  text-decoration: none;
  color: rgb(191, 52, 206);
}
.otherLinks{
    text-decoration: none;
    color: black;
}

.inputsWelcomePage{
  border: 1px solid rgb(195, 207, 217);
  font-size: 1.3rem;
  padding-top:5px;
  padding-bottom: 5px;
  border-radius: 5px;
  width: 75%;
  margin: 20px auto;
  color: rgb(195, 207, 217);

}
.form{
  border: 1px solid rgb(195, 207, 217);
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    background-color: rgb(247, 249, 250);
    text-decoration: 
}

.paragraphLink{
  text-decoration: none;
  width: 55%;
  margin: 0 auto;
}
/* end of styling for component welcomeLogIn.js */























